@model IEnumerable<Client.Models.Responses.PublicShareOwnerControl.StockWithOwnerInfoResponse>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTradedValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalShares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTradedValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalShares)
            </td>
            <td>
                @Html.ActionLink("Issue More Shares", "IssueMore", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
