@model IEnumerable<GenericRequestViewModel>

    @{
        ViewData["Title"] = "BuyRequests";
    }

    <h1>BuyRequests</h1>

    @{
        if (ViewBag.ShowErrorDialog != null && ViewBag.ShowErrorDialog == true)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorText
            </div>
        }
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfferedPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountOfShares)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTradedValue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OfferedPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfShares)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastTradedValue)
                    </td>
                    <td>
                        @Html.ActionLink("Retract request", "RemoveBuyRequest", new { requestId = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
